In [ ]:
 we have three cases in conditional staements
-case -1 : if 
-case 2-: if -else
-case -3: if -elif -else 
 -conditional staements mean we are asking a question 
- when we ask the question computer will give true and false 
- if true we wants to execute statements 
- if false also we can execute statements

In [ ]:
case -1 : if

In [ ]:
#syntax 
# if the state ment starts with any keyboard
# end of the sttement :will be there 
# when : is there then we need to provide indentation 
# indentation means next lines has start with some space
   # if <condition>:
#<st1>
#<st2>
------
#<stn>

In [1]:
a=10
print (a)

10

In [2]:
100>10

True

In [ ]:
if 100>10:
    print ("hello")

In [4]:
if 100>10:
print ("hello")

IndentationError: expected an indented block after 'if' statement on line 1 (1112042443.py, line 2)

In [ ]:
error no 1 :
**indentation error 
error no2 :

In [ ]:
error no 2  : miss the : at the end

In [ ]:
error no 3: no condition

In [5]:
if 100<20:
    print ("python")

In [7]:
if True:
    print("python ")

python

In [9]:
if False:
    print ("python")

In [10]:
print (1)
print(2)
if 100>10:
    print ("manish")
    print("bye")

1
2
manish
bye

In [11]:
print (1)
print(2)
if 100>10:
    print ("manish")
    print("bye")
print("python")
print("hello")

1
2
manish
bye
python
hello

In [12]:
print (1)
print(2)
if 100>10:
print ("manish")

IndentationError: expected an indented block after 'if' statement on line 3 (2977983854.py, line 4)

In [13]:
print (1)
print(2)
if 100<10:
    print ("manish")
    print("bye")
print("python")
print("hello")

1
2
python
hello

In [14]:
print (1)
print(2)
if 100>10:
    print ("manish")
    print("bye")
print("python")
print("hello")
if 1000>100:
    print ("good")
    print("day")

1
2
manish
bye
python
hello
good
day

# case 2 :if - else

In [ ]:
#syntax
#if <condition>:
    #st1 
    #st2
else:
   #st1

In [15]:
if 100>10:
    print("true")
else:
    print ("false")

true

In [16]:
if 100<10:
    print("true")
else:
    print ("false")

false

In [17]:
if 100<10:
    print("true")
else false:
    print ("false")

SyntaxError: expected ':' (885997155.py, line 3)

In [18]:
print (1)
if 100>10:
    print("true")
    print ("2")
print ("gap")
else:
    print ("false")
    print("4")
print("5")

SyntaxError: invalid syntax (3392978738.py, line 6)

In [19]:
print (1)
if 100>10:
    print("true")
    print ("2")
else:
    print ("false")
    print("4")
print("5")

1
true
2
5

In [21]:
print (1)
if 100>10:
    print("true")
    print (2/0)
else:
    print ("false")
    print("4")
print("5")

1
true

ZeroDivisionError: division by zero

In [22]:
4/5 #/ : division

0.8

In [23]:
4//5#//:floor division:quotient

0

In [25]:
5% 4 #  % :modulus : reminder

1

In [ ]:
#wap ask the  user enter a value from keyboard
# find whether the number is even or odd 
#hint :num%2==0

In [30]:
 a =eval(input("Enter your num"))
if a%2==0:
    print ("a is even")
else:
    print ("a is  odd")

Enter your num 24

a is even

In [ ]:
# wap implement above the code
# by taking num randomly

In [32]:
import random
num=random.randint(10,100)
if num%2==0:
    print (f"the {num} is even  ")
else:
    print (f"the {num}  is  odd")

the 58 is even

In [ ]:
# game program 
#there are two numbers 
# number one comes from random 
#num2 is taking fron the keyboard

In [40]:
num1=random.randint(1,100)
num2=eval(input("enter the number: "))
if num1==num2:
    print("won")
else:
    print("loss")

enter the number:  5

loss

In [10]:
num1=random.randint(1,100)
print(f"{num1}")
num2=eval(input("enter the number: "))
if num1==num2:
    print("won")
else:
    print("loss")

NameError: name 'random' is not defined

case3 :if-elif -else

In [ ]:
# if we have two conditions
# one condition refer to if block
# automatically second condition refer to else block 

# what happens if we have 3 conditions are tgere
#then we will use else block 
#remaining all other conditions under elif block 


#syntax
#if<con1>:
    #st1
#elif <cond 2>:
    #st2
#else :
    #st3

In [ ]:
#wap ask the user enter a number 
# is number equal to 1 print 1
#if nummber equal to 2 then print 2
# if num eaual to  3 print 3
#if num equal to 4 print 4
other wise print bye

In [47]:
num=eval(input("enter the number"))
if num==1:
    print( "1")
elif num==2:
    print("2")
elif num==3:
    print("3")
elif num==4:
    print("4")
else: 
    print("bye")

enter the number 7

bye

In [ ]:
#wap ask the user
#enter marks percentage 
#if percentage greatervthan 90 then print A grade
# if percentage between 70 and 90 print B grade 
if percentage between 50 to 70 print c grade
if percentage 35 to 50 print d grade 
otherwise print fail

In [2]:
per=eval(input())
if per>90:
    print("A grade")
elif 70<per<90:
    print("B grade")
elif 50<per<70:
    print("c grade")
elif 35<per<50:
    print ("d grade")
else:
    print("fail")

 59

c grade

In [3]:
# if  we  use elif  it will consider step  by step  so the input goes from starting
per=eval(input())
if per>90:
    print("A grade")
elif per>=70:
    print("B grade")
elif per>=50:
    print("c grade")
elif per>=35:
    print ("d grade")
else:
    print("fail")

#when if condition fails then it  checks next condion i>e elif
#suppose elif also fails then it checks next conditon i.e  elif 
# this chain reaction keeps on continue till the consition should satisfy

 35

d grade

In [ ]:
#wap ask the user
#enter age
#if age greatervthan 90 then print luckyman
# if age  between 70 and 90 print old man
if age  between 35  to 50 print middle aged
if age 20 to 35 print young
if age 13 to 20 print teen
otherwise print kid

In [6]:
age=eval(input())
if age>=90:
    print("lucky man")
elif age>=70:
    print("old man")
elif age>=35:
    print("middle aged ")
elif age>=20:
    print ("young")
elif age >=13:
    print("teen")
else:
    print("fail")

 14

teen

In [10]:
a=eval(input())
b=eval(input())
opr=eval(input())
if opr==1:
    print(a+b)
elif opr==2:
    print(a-b)
elif opr==3:
    print(a*b)
elif opr==4:
    print(a/b)

 1
 4
 4

0.25

In [ ]:
#wap ask the user eneter gennder
#if gender = male 
#ask the use to enter age 
# if age greater then 30 print middle aged
# ther wise print boy

In [9]:
gender=eval(input("enter the gender"))
if gender=='male':
    age=eval(input("enter the age"))
    if age>=30:
        print ("middle age")
    else:
        print("boy") 
elif gender=='female':
    age =eval(input ("enter age "))
    if age>=30:
        print(" middle aged women")
    else:
        print("girl")
else:
    print ("enter valid  gender")

enter the gender male

NameError: name 'male' is not defined

try -expect

#generally python is a sequential  process
#which means if you get error , the compiler will not execute other statements
#there is a situations eventhouh if you got error at particular line 
# compiler should execute some part of the code
#this is possible by using try and except method
# we have two block 
  # try block
        # the orginal code will run under try block 
  # except block
        # if  any erroe comes it will redirect to except block

In [1]:
a=10
b=0
a/b
print("hello")

ZeroDivisionError: division by zero

In [2]:
try:
    a=10
    b=0
    a/b
except:
    print("hello")

hello

In [ ]:
case 1:

# whenever we got the error in try block
# the compiler will execute stemantsof except block

the value a is : 10
hello

In [ ]:
case :
# if there is no error in try block 
# the compiler will not execute excepblock

In [5]:
try:
    a=10
    b=10
    print("the value a is :",a)
    print("the value a is :",b)
    a/b
    print("you will not get error")
except:
    print("hello")

the value a is : 10
the value a is : 10
you will not get error

In [6]:
print("hai")
print("hello")
try:
    a=eval(input("enter a num1"))
    b=eval(input("enter a num2"))
    add=a+b
    print(f"the addition of{a} and {b} is:{add}")
except:
    print("error is there")
    print("check the code")
print("bye")

hai
hello

enter a num1 4
enter a num2 5

the addition of4 and 5 is:9
bye

In [7]:
try:
    age=eval(input())
    if age>=90:
        print("lucky man")
    elif age>=70:
        print("old man")
    elif age>=35:
        print("middle aged ")
    elif age>=20:
        print ("young")
    elif age >=13:
        print("teen")
    else:
        print("fail")
except exception as e:
    print("e")

 80

old man

functions

In [ ]:
**functions**
#reuse of the code
  #imagine you want to calculate tax of all tax players 
  # suppose there are 100 tax payers are there  
  # in order to calculate tax we require 5 lines of code
  # for 100 tax payers it will required 500 lines of code
  # this is not the good aproach
  # because 5 lines we are reapeating for 100 menbers
  # here functions will help us how to use only these 5 lines to all 100 tax payers

In [ ]:
salary= eval(input("enter the salary"))
tax_per= eval(input("enter the tax per :"))
tax_amount=salary*tax_per/100
print("

In [ ]:
#syntax
#def<function_name>():
#     <code starts here>

In [1]:
n1=10
n2=20
add=n1+n2
print(add)

30

In [7]:
def priya():
    n1=10
    n2=20
    add=n1+n2
    print(add)

In [4]:
addition()

30

In [8]:
priya()

30

In [ ]:
#first mistake you will forget the brackets while define funnction
# second mistake you will do you will forget the colon
# third mistake you will not give indentation
# fourth mistake ,you  will copy the code  you will forget make the allignment 
#fifth mistake : variable name and functions names must be different
#sixmistake: while calling the function you will forget th,e brackts

** functions also called a method:**
**whenever functions is there brackets must

In [14]:
def priya():
    n1=10
n2=20
 add=n1+n2
    print(add)

IndentationError: unexpected indent (1225939340.py, line 4)

In [9]:
priya()

30

In [15]:
def add1():
    n1=eval(input("enter the number1:"))
    n2=eval(input("enter the number 2"))
    add=n1111+n2
    print(add)

In [16]:
add1()

enter the number1: 2
enter the number 2 3

NameError: name 'n1111' is not defined

In [ ]:
** note**
when we define the function will not give the error
error will dispplay after caling the function only

In [ ]:
# create the function
# read three numbers find

In [23]:
def avg():
    num1=eval(input("enter num1:"))
    num2=eval(input("enternum2:"))
    num3=eval(input("enter num3:"))
    sum=num1+num2+num3
    avg=sum/3
    print(f"average of three numbers is:{avg} ")
avg()

enter num1: 3
enternum2: 3
enter num3: 4

average of three numbers is:3.3333333333333335

In [21]:
# crea

enter num1: 3
enternum2: 4
enter num3: 5

In [ ]:
create a function ask the user enter the bill amount
#enter the tip per
#calculate total bill

In [ ]:
def  abc():
    bill amount=eval(input("enter the bill amount:"))
    tip per = eval(input(" enter the tip percentage:"))

In [4]:
 def avg(num1,num2):
     print(f"num1:{num1} ")
     print(f"num2:{num2}")
     num3=eval(input("enter num3:"))
     sum=num1+num2+num3
     avg=sum/3
     print(f"average of three numbers is:{avg} ")
avg(10,20)

num1:10
num2:20

enter num3: 60

average of three numbers is:30.0

In [7]:
import random
def avg(num1):
     print(f"num1:{num1} ")
     num2=random.randint(1,100)
     print(f"num2:{num2}")
     num3=random.randint(1,100)
     print(f"num3:{num3} ")
     sum=num1+num2+num3
     avg=sum/3
     print(f"average of three numbers is:{avg} ")
avg(num1=random.randint(1,100))

num1:9
num2:49
num3:68
average of three numbers is:42.0

In [11]:
def billing(bill,tipper):
    tipamount=(bill*tipper/100)
    totalbill=tipamount+bill
    print(f"total total bill is{totalbill}")
billing(5000,78)

total total bill is8900.0

In [12]:
def billing(bill):
    tipper=eval(input("enter the tipper"))
    print(f" your tip percentage is {tipper}")
    tipamount=(bill*tipper/100)
    totalbill=tipamount+bill
    print(f"total total bill is{totalbill}")
billing(eval(input("enter the bill")))

enter the bill 4000
enter the tipper 5

 your tip percentage is 5
total total bill is4200.0

In [16]:

def billing(bill,tipper):
    
    print(f" your bill amount is {bill}")
    print(f" your  tipper is {tipper}")
    tipamount=(bill*tipper/100)
    totalbill=tipamount+bill
    print(f"total total bill is{totalbill}")
billing(random.randint(1,5000),random.randint(1,10))

 your bill amount is 1237
 your  tipper is 9
total total bill is1348.33

In [ ]:

* default argument means the arguments are fixed

In [ ]:
case :1;
# make all the arguments are default
# so no need to pass the value while calling thw function

In [ ]:
global varialble and local variable concept
# local variable means  the variables defined inside the function
# local variable canot access outside the function
# global variables means the variables dfeine outside the function
# global variable can access any where anytime

In [19]:
# local variable
def addition():
    n1=10
    n2=20
    print(n1+n2)
addition()

30

In [24]:
#global variable
number1=10
number2=40
def mul():
    print(number1*number2)
mul()

400

In [23]:
addition()

30

In [25]:
mul()

400

In [ ]:
 # functions with out arguments 
# functions with arguments
# functions with default arguments

In [1]:
num1=eval(input("enter the num1:"))
num2 =eval(input("enter the num2:"))
sum=num1+num2
avg=sum/2
print(f"the average of {num1} and {num2} is {avg}")

enter the num1: 4
enter the num2: 5

the average of 4 and 5 is 4.5

In [2]:
def average():
    num1=eval(input("enter the num1:"))
    num2 =eval(input("enter the num2:"))
    sum=num1+num2
    avg=sum/2
    print(f"the average of {num1} and {num2} is {avg}")
average

enter the num1: 4
enter the num2: 5

the average of 4 and 5 is 4.5

In [5]:
def average(num1,num2):
    sum=num1+num2
    avg=sum/2
    print(f"the average of {num1} and {num2} is {avg}")
average(eval(input("enter the num1:")),eval(input("enter the num1:")))

enter the num1: 4
enter the num1: 6

the average of 4 and 6 is 5.0

In [ ]:
def add():
    print(a+b)
add()
a=10
b=20
# values are no redy by the time of calling si it gives error like a is not defined

In [9]:
def add1():
    print(a+b)
a=10
b=20
add1()
# variables are ready  by the time of calling

30

In [10]:
def add1():
    print(a+b)
    a=10
    b=20
add1()
# here the variable declares  inside function and the values declred after performing the function so its not useful so it gives error

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [12]:
def add1():
    a1=10
    b1=20
    print(a1+b1)
   
add1()

30

In [13]:
s=10
def add1():
    s=20
    print(s)

add1()

20

In [15]:
s

10

In [16]:
s=10
def add1():
    global s
    s=20
    print(s)

add1()

20

In [17]:
s

20

In [ ]:
* use the local variables :outside function without using global variable
* we already know that local variables cant use outside the function directly
* if we want to use local variables outside the function we need to use global keyword
* we can also use the local variables without using global keyword
* that concept is called return

In [20]:
def add2():
    nu1=10
    nu2=20
    print(nu1+nu2)
add2()

30

In [21]:
nu1

NameError: name 'nu1' is not defined

In [22]:
def add2():
    nu1=10
    nu2=20
    sum1=nu1+nu2
    return(nu1)
  
nu1=add2()
print(nu1)

10

In [24]:
def add2():
    nu1=10
    nu2=20
    sum1=nu1+nu2
    return(sum1)
  
sum1=add2()
print(sum1)

30

In [27]:
def add2():
    nu1=10
    nu2=20
    sum1=nu1+nu2
    return(sum1,nu1,nu2)
  
sum1,nu1,nu2=add2()
print(sum1)
print(nu1)
print(nu2)

30
10
20

In [33]:
def avg3():
    nu1=10
    nu2=20
    sum1=nu1+nu2
    avg=sum1/2
    return(nu1,nu2,sum1,avg)
nu1,nu2,sum1,avg=avg3()

In [29]:
avg

15.0

In [31]:
nu1

10

In [34]:
nu1

10

In [3]:
a=10
b=20
c=a+b
print(c)

30